table{margin-left:350px;
    margin-top:100px;
    text-align: center;
    width:25cm;}
    th,td{border:solid 1px #bebebe;}
.btnEdit{
        border-color: transparent;
        border-radius: 5px;
        height: 28px;
        width:100px;
        background-color: #e7403d;
        align-items:center;}
        .btnAdd{
            position: absolute;
            margin-left:29.2cm;
            margin-top:1.5cm;
            border-color: transparent;
            border-radius: 5px;
            height: 30px;
            width:150px;
            background-color: #0dcaf0;
        }
.btnEdit:hover{background-color: #d03a37;}
.btnEdit:active{background-color:#b93331}
input{text-align: center;}
.warning{color:#ff0000;
    margin-top:150px;
    text-align: center;}
    .toggle{position: absolute;}