.form{
    margin-top:0px;
    border-radius: 10px;
    padding:30px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
}

h4{text-align: center;}
.btn1{
    position: absolute;
    margin-left:23.8cm;
    margin-top:-1cm;
    border-color: transparent;
    border-radius: 5px;
    height: 30px;
    width:120px;
    background-color: #0dcaf0;
    align-items:center;
}
.btn2{
    position: absolute;
    margin-left:20.5cm;
    margin-top:-1cm;
    border-color: transparent;
    border-radius: 5px;
    height: 30px;
    width:120px;
    background-color: #0dcaf0;
    align-items:center;
    }
    .btn1:hover,.btn2:hover{background-color: #0cb6d9 ;}
    .btn1:hover,.btn2:hover{background-color: #0a9cb9;}