<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="col-md-4 mx-auto">

    
    <div class=" form mb-3">
        <div class="panel-heading">
          <h4 class="mb-3 pt-2 ms-3 font-weight-bold">Employee Adress</h4>
        </div>
        <div class="form-group">
          <form [formGroup]="registeForm"  (ngSubmit)="registerSubmitted()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"   formControlName="StreetAdress"  [(ngModel)]="formdata.StreetAdress" >
              <label for="floatingInput">StreetAdress</label>
                    <div class="form-text text-danger" *ngIf="StreetAdress.errors?.['required']&& (StreetAdress.touched||StreetAdress.dirty)">StreetAdress is Required.</div>
                    <div class="form-text text-danger" *ngIf="StreetAdress.errors?.['minlength']&& (StreetAdress.touched||StreetAdress.dirty)">StreetAdress is short.</div>
                    <div class="form-text text-danger" *ngIf="StreetAdress.errors?.['pattern']&& (StreetAdress.touched||StreetAdress.dirty)">StreetAdress should start with Alphaber.</div>
            </div>
            <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"   formControlName="city" [(ngModel)]="formdata.city">
                    <label for="floatingInput">city</label>
                    <div class="form-text text-danger" *ngIf="city.errors?.['required']&& (city.touched||city.dirty)">city is Required.</div>
                    <div class="form-text text-danger" *ngIf="city.errors?.['minlength']&& (city.touched||city.dirty)">city is short.</div>
                    <div class="form-text text-danger" *ngIf="city.errors?.['pattern']&& (city.touched||city.dirty)">city should start with Alphaber.</div>
                  </div>
                
                
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"   formControlName="province" [(ngModel)]="formdata.province">
                    <label for="floatingInput">province</label>
                    <div class="form-text text-danger" *ngIf="province.errors?.['required']&&(province.dirty||province.touched)">mail is Required.</div>
                    <div class="form-text text-danger" *ngIf="province.errors?.['email']&&(province.dirty||province.touched)">mail is Invalid.</div>
                  </div>
                

                
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"   formControlName="codePostal" [(ngModel)]="formdata.codePostal">
                    <label for="floatingInput">codePostal</label>
                    <div class="form-text text-danger" *ngIf="codePostal .errors?.['required']&&(codePostal.dirty||codePostal.touched)">codePostal is Required.</div>
                    <div class="form-text text-danger" *ngIf="codePostal .errors?.['minlength']||codePostal.errors?.['maxlength']&&(codePostal.dirty||codePostal.touched)">codePostal should be at least 6 and at max 15 characters long.</div>
                  </div>
                <hr>
                <button class="btn btn-info  form-control"  >Register</button>
        </form>
        </div></div>
        <nav aria-label="..." class="col-md-6 mx-auto">
          <ul class="pagination">
            <li class="page-item " >
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item" [routerLinkActive]="'active'">
              <a class="page-link" routerLink="/AddRess">1</a>
            </li>
            <li class="page-item " aria-current="page" [routerLinkActive]="'active'">
              <a class="page-link" routerLink="/EmpAdress">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
</body>
</html>
